.form {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px;

    &:last-child{
      margin: 0;
    }
  }

  &__label {
    font-family: Inter, Arial, sans-serif;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    color: #999;
    margin: 0 0 5px;
  }

  &__input {
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    border-bottom: 1px solid #3369F3;
    padding: 4px 0;
    width: 100%;

    &_error{
      border-bottom: 1px solid #f00;
    }
  }

  &__error{
    font-family: Inter, Arial, sans-serif;
    font-weight: 500;
    line-height: 9px;
    font-size: 10px;
    color: #f00;
    margin: 5px 0 0;
    visibility: hidden;

    &_active{
      visibility: visible;
    }
  }
}
