/* stylelint-disable */
@use '../../styles/variables.scss' as variables;
/* stylelint-enable */

.data {
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid variables.$border-color;

  &__label {
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    color: variables.$title-color;
  }

  &__value {
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    color: variables.$text-color;
  }

  &:last-child{
    margin: 0;
    border: none;
  }
}
