$blue-color: #3369F3;
$white-color: #FFF;
$gray-color: #EFEFEF;
$error-color: #FF2F2F;
$title-color: #1E1E1E;
$text-color: #999;
$border-color: #EAEAEA;
$back-color: #FBFBFB;
$avatar-color: rgba($color: #000, $alpha: 40%);
$avatar-background-color: #787878;
$message-get-color: #F8F8F8;
$message-send-color: #E4EDFD;
$shadow-color: rgba(0 0 0 / 14%);
