/* stylelint-disable */
@use '../../styles/variables' as variables;
/* stylelint-enable */

.chats {
  height: 100vh;
  display: flex;

  &__left-block {
    background-color: variables.$back-color;
    width: 24%;
    padding: 0 10px;
    border-right: 1px solid variables.$border-color;
  }

  &__search {
    padding: 20px 0 0;
    border-bottom: 1px solid variables.$border-color;
  }

  &__creater {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
  }

  &__title-input {
    padding: 4px 6px;
    background-color: #efefef;
    border-radius: 5px;
    font-family: Inter, Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    color: #999;
    width: 100%;
  }

  &__add-chat {
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: variables.$text-color;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 5px;
  }

  &__profile {
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: variables.$text-color;
    margin: 0 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &::after {
      content: url("/static/icons/arrow-right.svg");
      margin: 0 0 0 8px;
    }
  }

  &__search-line {
    margin: 0 0 10px;
  }

  &__list{
    overflow: auto;
    list-style-type:  none;
  }
}

.search {
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: variables.$text-color;
    display: flex;
    align-items: center;

    &::before {
      content: url("/static/icons/search.svg");
      margin: 0 7px 0 0;
    }
  }

  &__input {
    padding: 8px 10px;
    background-color: variables.$gray-color;
    border-radius: 6px;
    width: 100%;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: variables.$text-color;

    &:focus &__label {
      display: none;
    }
  }
}
