.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__back{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    color: #999999;
    position: absolute;
    left: 15px;
    top: 20px;
    display: flex;
    align-items: center;
    &::before{
      content: url(/static/icons/arrow-left-full-gray.svg);
      margin: 0 10px 0 0;
      height: 12px;
    }
  }
  &__text {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 15px;
    color: #999999;
  }
}
