.form{
    &__button {
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    border-radius: 6px;
    padding: 12px 0;
    margin: 0 0 10px;
    cursor: pointer;

    &_1{
      color: #fff;
      background-color: #3369F3;
    }

    &_2{
      color: #3369F3;
      font-size: 12px;
      background-color: transparent;
    }

    &:last-child{
      margin: 0;
    }
  }
}
